#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

header {
  padding-top: 10px;
    nav {
      padding-bottom: 50px;
      text-align: left;
      
      ul li {
        display: inline-block;
        margin-right: 20px;
      }
    }
    h1 {
      line-height: 1em;
    }
}


main {
  padding-top: 50px;
    h2 {
      font-size: 28px;
    }
    ul {
      padding: 0;
    }
    li {
      display: inline-block;
      color: #ba8058;
      margin-right: 20px;
      
      img {
        margin-bottom: 15px;
      }
      span {
        margin-left: -40px;
      }
      &:last-child {
      margin-right: 0;
    }
    }
}


footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}